<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BZRuntimeTests-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BZRuntimeTests_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72E577C418CAEB5400E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E5783E18CAEC0B00E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E5784B18CAEC0B00E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E5786618CAEC6A00E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E5787A18CAECE000E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E5789018CAECEE00E8A6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
